@charset "UTF-8";
:root {
  --color-primary: #d61717;
  --text-color: #333333;
  --text-color-rgb: 51, 51, 51;
  --color-engineer: #17a8d6;
  --color-designer: #d67e17;
  --color-director: #59c107;
}

html {
  font-size: 62.5%;
  font-family: "Inter", "Noto Sans JP", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-weight: 400;
  font-feature-settings: "palt";
  font-kerning: 300;
  color: var(--text-color);
  scroll-behavior: smooth;
  transition-timing-function: ease-in-out;
}

a {
  color: var(--text-color);
  text-decoration: none;
  transition: opacity 0.3s ease;
  font-weight: 400;
}

li {
  list-style: none;
}

#mainVisual {
  width: 100%;
  height: 100vh;
  background: url(../images/mainVisual.jpg) no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
#mainVisual h2 {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  color: #fff;
  text-align: center;
}
#mainVisual .navWrap {
  width: 100%;
  height: 10%;
  padding: 10px;
  z-index: 100;
  top: 0;
  left: 0;
  background: none;
  transition: all 0.5s;
}
#mainVisual .navWrap::before {
  content: "";
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}
#mainVisual .navWrap.fixed-nav {
  position: fixed;
}
#mainVisual .navWrap.fixed-nav::before {
  opacity: 1;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5647058824) 0%, rgba(0, 0, 0, 0) 100%);
}
#mainVisual .navWrap.fixed-nav h1 {
  height: 80%;
}
#mainVisual .navWrap nav {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem;
  background-color: rgba(255, 255, 255, 0.2); /* 背景色 */
  border: 1px solid rgba(255, 255, 255, 0.4); /* ボーダー */
  border-right-color: rgba(255, 255, 255, 0.4);
  border-bottom-color: rgba(255, 255, 255, 0.4);
  border-radius: 15px;
  -webkit-backdrop-filter: blur(20px); /* ぼかしエフェクト */
  backdrop-filter: blur(20px);
  box-shadow: 0 5px 20px rgba(51, 51, 51, 0.5019607843); /* 薄い影 */
}
#mainVisual .navWrap nav h1 {
  height: 100%;
  display: flex;
  padding: 1rem 0;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}
#mainVisual .navWrap nav h1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#mainVisual .navWrap nav ul {
  display: flex;
}
#mainVisual .navWrap nav ul li {
  margin-left: 4rem;
}
#mainVisual .navWrap nav ul li a {
  position: relative;
  display: flex;
  align-items: flex-end;
  flex-flow: column;
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
}
#mainVisual .navWrap nav ul li a span {
  position: absolute;
  display: block;
  transition: clip-path 0.5s, background 0.5s;
  font-weight: 800;
  top: 85%;
  right: 0;
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  font-size: 1.5rem;
  background: none;
  background: linear-gradient(133deg, #d61717 0%, #ff6b00 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
#mainVisual .navWrap nav ul li:hover a span {
  clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%);
}

#introduction {
  width: 100%;
  height: 70vh;
  display: flex;
}
#introduction .introductionText {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-direction: column;
  padding-left: 4%;
}
#introduction .introductionText h2 {
  font-size: 6.4rem;
  font-weight: 800;
}
#introduction .introductionText h2 span {
  font-weight: 600;
  font-size: 9.6rem;
  background: linear-gradient(133deg, #d61717 0%, #ff6b00 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
#introduction .introductionText h2 span:first-child {
  margin-right: -1rem;
}
#introduction .introductionText p {
  width: 80%;
  font-size: 2rem;
}
#introduction .introductionText p span {
  font-size: 3rem;
}
#introduction picture {
  width: 50%;
  height: 100%;
  clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
}
#introduction picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sectionTitle h2 {
  position: relative;
  color: var(--text-color);
  font-size: 6rem;
  text-align: center;
  margin-top: 20rem;
  margin-bottom: 3rem;
}
.sectionTitle h2 span {
  bottom: -3rem;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  text-align: center;
  opacity: 0.05;
  font-size: 16rem;
}

.wrap {
  width: 80%;
  height: 50vh;
  margin: 2rem auto 0;
}

#contents {
  width: 100%;
}
#contents ul {
  display: flex;
  width: 100%;
  justify-content: center;
}
#contents ul .btn {
  cursor: pointer;
  margin: 16px;
  display: block;
  width: 250px;
  height: 50px;
  position: relative;
}
#contents ul .btn a {
  transform: translateY(8px);
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  align-items: center;
  font-size: 2.5rem;
  transition: transform 0.5s, font-weight 0.5s;
}
#contents ul .btn a span {
  font-weight: 400;
  display: block;
  opacity: 0.2;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -0.4rem;
  left: 0;
  font-size: 1.5rem;
}
#contents ul .btn:hover::after {
  transform-origin: left top;
  transform: scale(1, 1);
}
#contents ul .btn:hover a {
  transform: translateY(0px);
}
#contents ul .btn.active a {
  font-weight: 700;
  transform: translateY(-6px);
}
#contents ul .btn.active a span {
  font-weight: 400;
}
#contents ul .btn.active::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  transform: scale(1, 1);
  background: tomato;
}
#contents ul .btn::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: tomato;
  transform: scale(0, 1);
  transition: transform 0.5s;
  transform-origin: right top;
}
#contents .contentWrap {
  width: 80%;
  height: 50vh;
  position: relative;
  margin: 2rem auto 0;
}
#contents .contentWrap .content {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  gap: 32px;
  display: none;
  overflow: hidden;
  transition: 0.5s;
}
#contents .contentWrap .content img {
  width: 50%;
  height: 100%;
}
#contents .contentWrap .content .text {
  width: 50%;
  height: 100%;
  font-size: 2rem;
}
#contents .contentWrap .content.active {
  animation: contentIn 1s ease forwards;
  display: flex;
}
#contents .contentWrap .content.hidden {
  animation: contentOut 1s ease forwards;
}

@keyframes contentOut {
  0% {
    display: flex;
    opacity: 1;
  }
  100% {
    display: none;
    opacity: 0;
  }
}
@keyframes contentIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#members {
  width: 100%;
}
#members .memberGrade {
  width: 100%;
  width: 80%;
  margin: 0 auto;
  display: block;
}
#members .memberGrade h3 {
  font-size: 8rem;
  font-weight: 500;
}
#members .memberGrade h3 span {
  font-weight: 800;
  font-size: 4rem;
}
#members .memberWrap {
  display: flex;
  width: 100%;
  height: 100%;
  flex-flow: wrap;
  justify-content: space-between;
  padding: 2rem 12rem 0;
  margin: 0 0 4rem;
}
#members .memberWrap .member {
  width: 320px;
  height: 500px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1254901961);
  border-radius: 1.2rem;
  margin: 0 2rem 4rem;
  position: relative;
  margin: 0 auto 4rem;
  transition: transform 0.5s;
}
#members .memberWrap .member:hover {
  transform: scale(1.02);
}
#members .memberWrap .member picture {
  display: block;
  width: 100%;
  height: 60%;
  border-radius: 1.2rem 1.2rem 0 0;
}
#members .memberWrap .member picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#members .memberWrap .member .memberPara {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
#members .memberWrap .member .memberPara span {
  font-size: 1.6rem;
}
#members .memberWrap .member .memberPara .memberName {
  font-size: 2.4rem;
}
#members .memberWrap .member .memberPara .memberName span {
  margin-left: 1rem;
  font-size: 1.6rem;
}
#members .memberWrap .member .memberPara,
#members .memberWrap .member .memberPara .memberCourse,
#members .memberWrap .member .memberPara .memberHobby {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
#members .memberWrap .member .memberPara h5,
#members .memberWrap .member .memberPara .memberCourse h5,
#members .memberWrap .member .memberPara .memberHobby h5 {
  font-size: 1.4rem;
  font-weight: normal;
  background: #eee;
  border-radius: 0.5rem;
  padding: 0 0.5rem;
  margin-right: 0.5rem;
}
#members .memberWrap .member .memberPara p,
#members .memberWrap .member .memberPara .memberCourse p,
#members .memberWrap .member .memberPara .memberHobby p {
  display: flex;
  justify-content: center;
  align-items: center;
}
#members .memberWrap .member .memberPara .memberCourse.it {
  font-size: 1.8rem;
}
#members .memberWrap .member .memberPara .memberCourse .field {
  height: 2.4rem;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 1rem;
  margin-left: 0.5rem;
  font-size: 1.6rem;
  border-radius: 50vh;
  color: #fff;
  overflow-wrap: normal;
  word-break: keep-all;
}
#members .memberWrap .member .memberPara .memberCourse .field.engineer {
  background: var(--color-engineer);
}
#members .memberWrap .member .memberPara .memberCourse .field.designer {
  background: var(--color-designer);
}
#members .memberWrap .member .memberPara .memberCourse .field.director {
  background: var(--color-director);
}
#members .memberWrap .member .memberPara .memberMessage {
  font-size: 1.6rem;
  padding: 0 2rem;
}
#members .memberWrap .member .position {
  width: 10rem;
  height: 10rem;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  transform: translate(-25%, -25%) rotate(-5deg);
  border-radius: 50%;
  background: linear-gradient(133deg, #d61717 0%, #ff6b00 100%);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1254901961);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  font-size: 2.5rem;
  font-weight: 700;
}

#details .detailContent {
  width: 100%;
  width: 80%;
  margin: 0 auto;
  display: block;
}
#details .detailContent h3 {
  font-size: 5rem;
  font-weight: 800;
}
#details .detailContent h3 span {
  font-weight: 500;
  font-size: 2rem;
  opacity: 0.5;
}