doctype html
html(lang="ja")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="css/sample.css")
    body 
        div#main
            h1 hello sass
            p
                |Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                |Quisquam, voluptatum.